<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header">
    <nav class="navbar">
        <div class="container nav-container">
            <a th:href="@{/}" class="nav-brand">
                <span class="brand-icon">🐠</span> Ocean Dive Tours
            </a>
            <button class="nav-toggle" onclick="toggleNav()">☰</button>
            <ul class="nav-menu" id="navMenu">
                <li><a th:href="@{/}" class="nav-link">ホーム</a></li>
                <li><a th:href="@{/tours}" class="nav-link">ツアー</a></li>
                <li><a th:href="@{/divesites}" class="nav-link">ダイブサイト</a></li>
                <li><a th:href="@{/instructors}" class="nav-link">インストラクター</a></li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/customer/login}" class="nav-link nav-btn">ログイン</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/customer/mypage}" class="nav-link">マイページ</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/customer/logout}" method="post" class="nav-logout-form">
                        <button type="submit" class="nav-link nav-btn-outline">ログアウト</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>
